<div
  class="absolute bg-black flex items-center px-8 py-4 text-white text-kanit z-10"
>
  <h2
    class="bg-[#ff000033] px-4 py-2 text-lg font-semibold border border-[#ff0000] border-r-0 cursor-pointer"
  >
    HIGH GI
  </h2>
  <h2
    class="bg-[#00ff0033] px-4 py-2 text-lg font-semibold border border-[#00ff00] border-l-0 cursor-pointer"
  >
    LOW GI
  </h2>
</div>
